<div class="col-md-4 offset-4 mt-5">
  <form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Reset Password</p>

    <p>Set a new password</p>


    <div class="md-form md-outline">
      <input id="newPass" name="newPass" [type]="showNewPwd ? 'text' : 'password'" class="form-control" placeholder="New password" [(ngModel)]="newPassword">
      <i [class]="showNewPwd ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showNewPwd=!showNewPwd" style="position: absolute;right: 10px;top: 10px;"> </i>
    </div>

    <div class="md-form md-outline">
      <input type="password" id="newPassConfirm" name="confirmPass" [type]="showConfirmPwd ? 'text' : 'password'" class="form-control" placeholder="Confirm password" [(ngModel)]="confirmPassword">
      <i [class]="showConfirmPwd ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showConfirmPwd=!showConfirmPwd" style="position: absolute;right: 10px;top: 10px;"> </i>
    </div>

    <button type="submit" class="btn btn-primary mb-4" (click)="resetPassword()">Change password</button>

    <div class="d-flex justify-content-between align-items-center mb-2">

      <u><a href="" (click)="backToLogin()">Back to Log In</a></u>

    </div>
  </form>
</div>



