<div class="col-md-4 offset-4 mt-5">
  <form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Reqest Password</p>

    <p>Enter your email address and we’ll send a link to reset your password</p>

    <div class="md-form md-outline">
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter your E-mail">
    </div>

    <button type="submit" class="btn btn-primary mb-4" (click)="passwordRequest()">Request password</button>


    <div class="d-flex justify-content-between align-items-center mb-2">

      <u><a href="" (click)="backToLogin()">Back to Log In</a></u>

    </div>
  </form>
</div>
